.footer {
  background-color: var(--secondary-background-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 0.7rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px;
  width: auto;
}

.centerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.links a {
  color: var(--main-font-color);
  font-family: var(--main-font);
  text-decoration: none;
  transition: opacity 0.3s;
}

.copyright {
  text-align: center;
  margin: 0;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a img {
  height: 24px;
  width: 24px;
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .logo img {
    display: none;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
