* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-weight: bold;
}